<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>제목: {{blog.title}}</h1>
  <h3>작성자: {{blog.writer}}</h3>
  <h3>작성시간: {{blog.pub_date}}</h3>
  <p>{{blog.body}}</p>
  <a href="{% url 'edit' blog.id%}">수정하기</a>
  <a href="{% url 'delete' blog.id %}">삭제하기</a>
  <br>
  <a href="{% url 'home' %}">메인으로 돌아가기</a>
</body>
</html>