<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>글 수정하기</h1>
  <form action="{% url 'update' blog.id %}" method="POST">
    {% csrf_token %}
    제목: <input name="title" value="{{blog.title}}">
    <br>
    작성자: <input name="writer" value="{{blog.writer}}">
    <br>
    <br>
    내용:<br>
    <textarea cols="40" rows="10" name="body">{{blog.body}}</textarea>
    <br>
    <button type="submit">수정하기</button>
  </form>
</body>
</html>